* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.draggedOver {
  transition: transform 1s ease;
  transform: translateX(15%);
}

.draggedOver img {
  border: #24b56b solid 3px; /*success see theme.js*/
}

.preview-image:hover {
  border: #222f41 solid 3px;
}

.pig {
  transition: transform 1.5s ease;
  animation: shake 1.5s ease infinite;
}

.setting {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}

.settingLabel {
  color: gray;
  justify-self: start;
}

.settingValue {
  padding: 5px;
  background: #80808033;
  border-radius: 5px;
  width: 90%;
  text-align: center;
}

@keyframes shake {
  50% {
    transform: scale(1.2);
  }
}

@keyframes showAndFade {
  100% {
    opacity: 0;
  }
}

.bubble {
  position: absolute;
  width: 50px;
  text-align: center;
  padding: 10px;
  background: gray;
  color: white;
  bottom: 105%;
  left: 38%;
  animation: showAndFade 1.5s ease;
}
